@model SharpOAuth2.ClientSite.Models.Home.CallbackModel

@if (Model.HasError)
{
<h1>An Error Occured</h1>
<dl>
    <dt>@Model.Error</dt>
    <dd>
    @Model.Description
    </dd>
</dl>
}
else
{
    <pre>
@Html.Raw(Model.TokenResponse)
    </pre>
}
