@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="http://localhost:15079/Home/Authorize?response_type=code&client_id=12345&scope=@HttpUtility.UrlEncode("edit delete")&redirect_uri=@Uri.EscapeDataString("http://localhost:15075/Home/Callback")">Grant Access</a>