<h1>Login</h1>

<p>Username: geoff</p>
<p>Password: pasword</p>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>login</legend>
        <ul>
            <li>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" />
            </li>
            <li>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </li>
            <li>
                <button>Log In</button>
            </li>
        </ul>
    </fieldset>
}